body{
    background-color: aqua;
}
.contenedor{
    /* ancho maximo que puede tener el elemnento*/
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.cabecera{
background-color: red;
float: left;
width: 80%;
height: 200px;
}
.menu{
    background-color: darkblue;
    float:right;
    width: 20%;
    height: 400px;

}
.cabecera2{
    background-color: blue;
    float: left;
    width: 80%;
    height: 200px;

}
.pie{
    background-color: skyblue;
    clear:both;
    height: 100px;

}